<%= render 'users/header' ,user:@user %>
  <div class="container">
    <div class="row">
         <ul class="nav nav-tabs nav-justified">
           <li role="presentation"><a href="/">新着</a></li>
           <li role="presentation"><a href="/recipes">ランキング</a></li>
          </ul>
<div class="flex">

      <% @recipe_ranking.each do |recipe_ranking| %>
              <div class="flex-container"><div>
              	<%#= recipe_favorites_count %>
              	<%= link_to recipe_path (recipe_ranking) do %>
                <%= attachment_image_tag recipe_ranking, :recipe_image, :fill,250,250,format: 'jpg', size: "250x250",fallback:"no_image.png" %>
              <% end %></div>
                    <h4><%= recipe_ranking.title %></h4>
              </div>
        <% end %>
        </div>
         <div style="text-align: center;"><%= paginate @recipes %></div>
      </div>
   </div>
 </div>

<%= render 'users/footer' ,user:@user %>