<%= render 'users/header' ,user:@user %>
  <div class="container">
    <div class="row">
         <ul class="nav nav-tabs nav-justified">
           <li role="presentation" class="active"><a href="#">新着</a></li>
           <li role="presentation"><a href="#">ランキング</a></li>
          </ul>

      <% @recipes.each do |recipe| %>
              <div class="flex-container"><%= link_to recipe_path(recipe) do %>
                <%= attachment_image_tag @recipe, :recipe_image, :fill,100,100,format: 'jpg', size: "250x250",fallback:"no_image.png" %>
              <% end %>
                  <div class ="title-dispray">
                    <%= recipe.title %>
                  </div>
              </div>
        <% end %>
      </div>
   </div>
 </div>





<%= render 'users/footer' ,user:@user %>