<%= render 'users/header' ,user:@user %>
  <div class="container">
    <div class="row">
         <ul class="nav nav-tabs nav-justified">
           <li role="presentation" class="active"><a href="#">新着</a></li>
           <li role="presentation"><a href="#">ランキング</a></li>
          </ul>

      <% @recipes.each do |recipe| %>
              <div class="flex-container"><div><%= link_to recipe_path(recipe) do %>
                <%= attachment_image_tag recipe, :recipe_image, :fill,250,250,format: 'jpg', size: "250x250",fallback:"no_image.png" %>
              <% end %></div>
                    <h4><%= recipe.title %></h4>
              </div>
        <% end %>
          <div style="text-align: center;"><%= paginate @recipes %></div>
      </div>
   </div>
 </div>





<%= render 'users/footer' ,user:@user %>